.order-progress {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-header h2 {
    font-size: 24px;
    margin: 0;
}

.steps {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
    margin-top: 40px;
}


.progress-line-bg {
    position: absolute;
    top: 15px; 
    left: 0;
    right: 0;
    height: 4px;
    background: #e0e0e0; 
    z-index: 0;
}

.progress-line-fill {
    position: absolute;
    top: 15px; 
    left: 0;
    height: 4px;
    background: #176b87; 
    z-index: 1;
}


.step {
    text-align: center;
    position: relative;
    flex: 1;
    z-index: 2; 
}


.circle {
    width: 30px;
    height: 30px;
    background: #e0e0e0; 
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}


.step.completed .circle {
    background: #176b87;
}

.step p {
    font-size: 12px;
    margin-top: 10px;
}


.step:last-child::after {
    display: none;
}

.tag{
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 12px;
    font-size: 14px; 
    margin: 5px; 
    font-weight: 500;
    border: 1px solid transparent;
    text-align: center;
    background-color: #e0e0e0;
}

.tag_blue{
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 12px;
    font-size: 14px; 
    margin: 5px; 
    font-weight: 500;
    border: 1px solid transparent;
    text-align: center;
    background-color: #176b87;
    color: white;
}

.select-container {
    position: relative;
    z-index: 10; 
}